@charset "UTF-8";

div {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "HanHei SC", "PingHei", "PingFang SC", "STHeitiSC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    background-color: #1e1e1e;
}

body.vscode-light {
    background-color: white;
}

.vscode-light .screen {
    box-shadow: 1px 2px 5px gray;
}

.screen {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 0px 0px 1px white;
    transform: scale(1);
    transform-origin: top left;
}

.screen-header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    flex-shrink: 0;
}

.screen-status {
    height: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.screen-navi {
    height: 44px;
    display: flex;
    height: 44px;
    color: white;
    align-items: center;
    justify-content:center;
}

.mist-main {
    flex-grow: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.mist-main::-webkit-scrollbar, .mist-main ::-webkit-scrollbar { 
    display: none;
}

.dot {
    width: 6px;
    height: 6px;
    margin: 1px;
    background-color: white;
    border-radius: 50%;
}

#navi-bar {
    background-color: #2c2c2c;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
    flex-shrink: 0;
}

.vscode-light #navi-bar {
    background-color: #f3f3f3;
}

.navi-item {
    display: inline-block;
}

.navi-icon {
    color: white !important;
    font-size: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vscode-light .navi-icon {
    color: #333 !important;
}

.navi-icon.toggle {
    color: #E24810 !important;
}

.navi-line {
    width: 1px;
    height: 20px;
    background-color: #888;
    align-self: center;
    margin-left: 6px;
}

.active, .focus, .active.focus, :active, :focus, :active:focus {
    outline: 0 !important;
}

.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus {
    color: white;
}

.btn.active, .btn:active {
    box-shadow: none;
}

.btn:hover, .navi-icon:hover {
    opacity: 0.8;
}

.dropdown>button {
    background-color: transparent;
    border: 0;
    color: white;
}

.vscode-light .dropdown>button {
    color: #333;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.context-item:hover {
    background-color: #f5f5f5;
}

.dropdown-menu li.selected>a:before {
    content: "✓";
    position: absolute;
    margin-left: -1.1em;
}
.dropdown-menu li.selected>a {
    color: #E24810;
}

.anim {
    transition-duration: 0.2s;
}

.select-anim {
    transition-duration: 0.15s;
}

#mist-hover {
    position: absolute;
    background-color: rgba(112, 168, 218, 0.66);
    pointer-events: none;
}

#mist-frames {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
}

.mist-select {
    position: absolute;
    background-color: rgba(112, 168, 218, 0.11);
    outline: rgba(112, 168, 218, 0.88) 2px solid;
    pointer-events: none;
}

.overlay {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

#footer {
    padding: 5px 10px;
    background-color: #fecb2f;
    z-index: 1000;
}
