@charset "UTF-8";

.main * {
    line-height: 1.2em;
}

.main::-webkit-scrollbar, .main ::-webkit-scrollbar { 
    display: none;
}

.main div {
    margin: 0;
    padding: 0;
}

#mist-hover {
    position: absolute;
    background-color: rgba(112, 168, 218, 0.66);
    pointer-events: none;
    transition-duration: 0.2s;
}